* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: violet;
}

main,
.fullItem {
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 70vh;
}

.item_div {
  display: flex;
  margin: 50px auto;
  height: 100%;
  width: 100%;
  flex-direction: row;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.language_button {
  position: fixed;
  top: 2%;
  right: 2%;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
